venv/
__pycache__/
pipeline/
Proyecto_1/
*.csv
*.joblib
*.ipynb_checkpoints/
*pipeline/
*.pbtxt
*.log
*.pkl
*.data
data/
*/data/
mlruns/
*/mlruns/
kt_dir/
*/kt_dir/
Taller1/
*/Taller1/
mlflow/
*/mlflow/