venv/
__pycache__/
pipeline/
Proyecto_1/
Proyecto_2/
*.DS_Store
*.csv
*.joblib
*.ipynb_checkpoints/
*pipeline/
*.pbtxt
*.log
*.pkl
*.data
data/
*/data/
mlruns/
*/mlruns/
kt_dir/
*/kt_dir/
Taller1/
*/Taller1/
*minio/
mlflow/data/
mlflow/minio/
*.db
logs/
*.env
.vscode/
V1/
Soluciones/
*temp.txt
Niveles/0/Solucion_taller1/
Niveles/1/Desarollo_en_contenedores/*
!Niveles/1/Desarollo_en_contenedores/*.md
